body{
    background: #000 url("../images/background/body-background.png");
}
#nav, #navButton, #navButton > li > a {
    background-image: url("../images/background/nav-background.png");
}
#navButton:hover, #navButton > li > a:hover{
    background-image: url("../images/background/nav-selected-background.png");
}
a > span {
    color: #ee0066;
}
a > span:hover {
    color: #ff00ff;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 35%;
      margin: auto;
  }
